.section {
    background-image: url("image.png");
    /* background-color: rgb(223, 113, 11); */
    
    padding: 15px;
}

.container {
    
    C:\Users\Khoa\Desktop\project1.css
    padding: 45px;
   
}

.button {
     background-color:rgb(127, 255, 0)
}   

.tile {
    background-color:rgb(169, 169, 169);   
    border: solid black 3px;

} 
.scroll{
    height: 500px;
    overflow: scroll;
}