.section {
   
    padding: 15px;
}

.container {
    
    padding: 45px;
   
}

.button {
     background-color:rgb(117, 133, 133)
}   

.tile {
    
    border: solid black 3px;

       
}

.trafficBody {
    height: 100px;
}

.titleWeb {
    font-size: 150px;
    color: white;
}

.subtitleWeb {
    color: white;
    font-size: 25px;
}

.directionTime {
    text-align: center;
}

#lookhere {
    font-weight: bolder;
}