.section {
   
    padding: 15px;
}

.container {
    
    padding: 45px;
   
}

.button {
     background-color:rgb(117, 133, 133)
}   

.tile {
    
    border: solid black 3px;

       
}



.titleWeb {
    font-size: 150px;
    color: white;
}

.subtitleWeb {
    color: white;
    font-size: 25px;
}

.directionTime {
    text-align: center;
    opacity: 0.8;
    font-size: 25px;
    overflow: hidden;
}

#lookhere {
   background-color: solid black ;
   font-weight: bolder;
}

body {
    background-image: url("assets/traffic.png");
    height: 100vh;
    overflow: scroll;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}